span.green{
    background-color: green;
}

span.blue{
    background-color: blue;
}
span.red{
    background-color: red;
}

span.purple{
    background-color: purple;
}
span.orange{
    background-color: orange;
}